.head { 
    width:inherit;
    height:inherit;
    background-color:#99cc33;
    max-width:400px;
}

#descricao {
    clear: both;
    width:inherit;
    height:auto;
    position:static;
    padding: 0px 10px 5px 10px;
}

#pessoa img {
    border-radius: 50%;
    width: 20%;
}

#conteudo li {
    list-style-type: none;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navajowhite;
}

#header li {
    float: left;
}

#header {
    width: 100%;
}

#header li a {
    display: block;
    color: #555555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #bbb;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px; 
    text-align: justify;
}

#menu {
    margin: 0 auto;
}

#menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

#menu  li {
    display: inline-block;
    list-style-type: none;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #bbb;
}

#conteudo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

#conteudo  li {
    width: 50%;
    margin: 0 auto;
}

#conteudo li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#conteudo li a:hover {
    background-color: gray;
}

#rodape { 
    background-color: navajowhite; 
    color: #555555;
    bottom: 0;
    width: 100%;
    padding: 3px 3px;
    text-align: center;
}

#publicacao {
    clear: both;
    width: 100%;
}

#aboutme h2 {
    background-color: lightsteelblue;
}


#orientacoes h2 {
    background-color: lightsteelblue;
}

#publicacoes h2 {
    background-color: lightsteelblue;
}

#orientacao {
    clear: both;
    width: 100%;
}

#conteudo {
    margin: 20px;
}

#conteudo ul {
    list-style-type: none;
    width: 500px;
}

#conteudo h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#conteudo li img {
    height:20%; 
    width: 20%; 
    max-width: 15%;
    max-height: 15%;
    border-radius: 50%;
    object-fit: contain;
    float: left;
    margin: 0 15px 0 0;
}

#conteudo li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#conteudo li {
    padding: 10px;
    overflow: auto;
}

#conteudo li:hover {
    background: #eee;
    cursor: pointer;
}


#aboutus {
    margin: 20px;
}

#aboutus ul {
    list-style-type: none;
    width: 500px;
}

#aboutus h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

#aboutus li img {
    height:20%; 
    width: 20%; 
    max-width: 15%;
    max-height: 15%;
    border-radius: 50%;
    object-fit: contain;
    float: left;
    margin: 0 15px 0 0;
}

#aboutus li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

#aboutus li {
    padding: 10px;
    overflow: auto;
}

#aboutus li:hover {
    background: #eee;
    cursor: pointer;
}
