<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Visão de currículos" content="">
        <meta name="Jonathan Ramos" content="">
        <title>CV</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="jquery-2.1.3.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="style.css">
        <script src="view.js"></script> 
        <script src="model.js"></script>
        <script src="controller.js"></script>
    </head>    
    <body>
        <div id="header">

        </div>

        <br></br>

        <div id="main">
            <div id="head">
                <div id="pessoa">
                    <img align="left"></img>
                    <h2></h2>
                    <p></p>
                    <p></p>
                </div>
            </div>


            <br></br>

            <div id="menu">
                <ul >
                    <li><a href="">Sobre mim</a></li>
                    <li><a href="">Publicações</a></li>
                    <li><a href="">Orientações</a></li>
                    <li><a href="">Completo</a></li>
                </ul>
            </div>
            <div id="aboutme">
            </div>
            <div id="orientacoes">
            </div>
            <div id="publicacoes" >
            </div>

        </div>
        <div id="rodape">
        </div>
    </body>
</html>
